.themify_builder .article-2-8-0-1.module-article .image-content { color: #0a090a;  } 
.themify_builder .article-2-8-0-1.module-article .image-title { color: #0a090a;  } 
.themify_builder .article-2-8-0-1.module-article .image-title a { color: #0a090a;  } 
.themify_builder .article-2-8-0-1.module-article h1 { color: #0a090a;  } 
.themify_builder .article-2-8-0-1.module-article h2 { color: #0a090a;  } 
.themify_builder .article-2-8-0-1.module-article h3:not(.module-title) { color: #0a090a;  } 
.themify_builder .article-2-8-0-1.module-article h4 { color: #0a090a;  } 
.themify_builder .article-2-8-0-1.module-article h5 { color: #0a090a;  } 
.themify_builder .article-2-8-0-1.module-article h6 { color: #0a090a;  } 
